<div>
<table class="table table-hover table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">Nº Pages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tbody>
</table>


</div>