<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<% if user_signed_in?%>
  <%= link_to "New book", new_book_path %>
<%end%>