<div id="<%= dom_id librarian %>">
  <p>
    <strong>Name:</strong>
    <%= librarian.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= librarian.user %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= librarian.password %>
  </p>

</div>
